/* section4 */
.section4 {
  position: relative;
  width: 100%;
  padding-top: 80px;
  background: url(../images/camera_bg.png) no-repeat;
  background-position-y: 43%;
  background-size: calc(100% / 2);
}
.section4 h1 {
  margin-bottom: 130px;
}
/* 스와이퍼 */
.cameraArticle {
  position: relative;
  width: 100%;
  height: 800px;
}
.section4 .swiper {
  width: 100%;
  height: 100%;
}
.section4 .camera {
  display: flex;
  align-items: center;
  gap: 100px;
  /* justify-content: center; */
  position: absolute;
  top: 0;
  right: 120px;
  /* width: 100%; */
}
.section4 .camera span {
  width: 350px;
  /* height: 722.63px; */
}

.section4 .swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  /* background: #fff; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.section4 .swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
}

/* 텍스트 */
.section4 .glow-text {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.section4 span {
  display: block;
  font-size: 55px;
  font-weight: bold;
}
.section4 h2 {
  font-size: 50px;
  color: #fff;
  line-height: 100px;
  margin-bottom: 70px;
  
}
.section4 h3 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 50px;
  line-height: 45px;
}
.section4 p {
  width: 378.74px;
  color: #868686;
  font-size: 22px;
  line-height: 30px;
}
.section4 p strong {
  color: #fff;
}
