@charset "utf-8";
@import url(font.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
}
body {
  font-family: "Pretendard-Regular";
}
/* 전체 */
.wrap {
  background-color: #000;
}
/* 이너 */
.inner {
  width: 100%;
  max-width: 1280px;
  /* width: calc(100% - 630px); */
  position: relative;
  margin: auto;
  border-left: 3px solid red;
  border-right: 3px solid red;
}
/* nav */
nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* nav 로고 */
.nav-logo {
  width: 15%;
}
.logo {
  width: 28px;
  height: 28px;
}
.logo img {
  width: 100%;
}
.logo-txt {
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap;
}
/* nav 메뉴 */
.nav-menu {
  width: 45%;
}
.nav-menu li {
  padding: 0 10px;
}
.nav-menu li a {
  font-size: 17px;
}
/* nav 검색창 */
.nav-search {
  position: relative;

  width: 15%;
}
.nav-search::before {
  content: "";
  width: 100%;
  background-color: #fff;
  opacity: 0.3;
  border-radius: 100px;
  border: 1px solid #fff;
}
.nav-search input {
  position: absolute;
  top: 8px;
  left: 20px;

  /* 배경색 제거 */
  background-color: transparent;
  outline: none;
  border: 0;
}

/* nav 아이콘 */
.nav-icon {
  width: 10%;
}
.nav-icon a {
  width: 28px;
  height: 28px;
}
.nav-icon a img {
  width: 100%;
}
/* main */
.main {
  position: relative;
  height: 980px;
}
/* main 텍스트 */
.main-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 510px;
  left: 0;
  color: #fff;
}
.main-txt h2 {
  font-size: 22px;
  font-weight: normal;
}
.main-txt h1 {
  font-size: 68px;
}
.main-txt p {
  font-size: 17px;
  color: #767676;
}
/* main 이미지 */
.main-img {
  position: absolute;
  top: 0;
  right: 0;

  width: 590px;
}
.main-img img {
  display: block;
  width: 100%;
}
/* section 공통 */

.section-title {
  margin-top: 80px;
  font-size: 32px;
  color: #fff;
}
/* section1 */
.section1 {
  padding-bottom: 100px;
}

/*  이미지 */
.section1-img {
  margin-top: 250px;
  margin-left: 130px;
  display: flex;
  gap: 40px;
}
.img-list {
  width: 280px;
  height: 280px;
  border-radius: 24px;
  overflow: hidden;
}
.img-list img {
  width: 100%;
}
/*  이미지 텍스트 */
.section1-img p {
  margin-top: 20px;
  font-size: 14px;
  color: #767676;
}
.section1-img strong {
  color: #fff;
}
/* section2 */

.section2 article {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 100px;
  z-index: 100;
  position: relative;
  gap: 5px;
}

/* 이미지 */
.section2-img {
  width: 620px;
  height: 465.2px;
}
.section2-img img {
  width: 100%;
}

/* 색상 */
.section2-color {
  width: 100px;
  height: 23px;
}
.section2-color img {
  width: 100%;
}
.section2 article p {
  color: #fff;
  font-size: 14px;
  color: #767676;
}
/* bg */

.section2-bg {
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
}
.section2-bg img {
  width: 100%;
  display: block;
}

/* 버튼 */
.section2-btn {
  position: absolute;
  top: 312px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section2-btn li button {
  font-size: 12px;
  color: #fff;
  z-index: 1001;
  width: 95px;
  height: 38px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}
/* section3 */
.section3 article {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  z-index: 100;
  position: relative;
  gap: 20px;
}
/* 이미지 */
.section3-img {
  width: 360px;
  height: 360px;
}
.section3-img img {
  width: 100%;
}
/* 타이틀 */
.section3-title {
  width: 730px;
}
.section3-title img {
  width: 100%;
}
/* 내용 */
.section3-txt {
  margin-top: 50px;
  display: flex;
  gap: 40px;
}
.section3-txt li {
  width: 340px;
  height: 140px;
}
.section3-txt li h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.section3-txt li p {
  font-size: 18px;
  color: #999;
}

/* bg */
.section3-bg {
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
}
.section3-bg img {
  width: 100%;
  display: block;
}
/* section4 */
.section4 {
  width: 100%;
  padding-top: 80px;
  background: url(../images/camera_bg.png) no-repeat ;
  background-position-y: 85%;
  background-size: calc(100% / 2 - 100px);
}
.section4 h1 {
  margin-bottom: 130px;
}

/* con  */
.section4 article .con {
  display: flex;
  gap: 33px;
  align-items: center;
}
/* top */
.section4-top {
  padding-left: 40px;
}
/* bottom */
.section4-bottom {
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* con 이미지 */
.section4 .con span {
  display: block;
  width: 270px;

  margin-bottom: 40px;
}
.section4 .con span img {
  width: 100%;
}
/* con 텍스트 */
.section4 h3 {
  font-size: 34px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 20px;
}
.section4 p {
  width: 378.74px;
  color: #888;
  font-size: 19px;
}
.section4 p strong {
  color: #fff;
}
/* section5 */
.section5{
  background-color: #111;
}
.section5 article{
  display: flex;
  gap: 15px;
  padding: 150px 0;
  
}
.product{
  
  width: 632px;
  height: 605px;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 24px;
  
}
/* left */
.section5-left .left-list{
  
}
.section5-left .left-list li{
  width: 492px;
  height: 88px;
  display: flex;
  align-items: center;
 gap: 16px;
 
}
/* 이미지 */
.section5-left .left-list span{
  width: 60px;
  height: 60px;
  display: block;
  background-color: #111;
  border-radius: 12px;  
}
.section5-left .left-list span img{
  display: block;
  width: 34px;
  height: 34px;
  margin: auto;

}
/* 텍스트 */
.section5-left .left-list p{
  color: #fff;
  font-size: 14px;
}

/* 이미지 */
.right-main-img:first-child{
width: 306px;
height: 323px;
}
.right-main-img:last-child{
  width: 55px;
  height: 10px;
}
/* 텍스트 */
.section5-right .right-menu{
  color: #fff;
  font-size: 14px;
}
.section5-right .right-menu img{
  width: 12px;
  height: 12px;
}

.section5-right .right-main .right-main-txt{
  color: #fff;
}

.right-main-txt span{
  color: #F35304;
  font-size: 12px;
}
.right-main-txt h3{
  font-size: 24px;
  font-weight: bold;
}
.right-main-txt p{
  font-size: 14px;
}
/* 버튼 */
.right-main-btn button{
width: 120px;
height: 48px;
border-radius: 100px;
background-color: #F35304;
color: #fff;
}